{% extends "base.html" %}

{% block title %}
Service Record
{% endblock %}

{% block content %}
<h1 align="center">Add a Service Record</h1>
<form method="POST">
  <div class="form-group">
    <label for="customer_id">Customer ID:</label>
    <input type="number" name="customer_id" id="customer_id" class="form-control">
  </div>

  <div class="form-group">
    <label for="service_cost">Service Cost:</label>
    <input type="number" name="service_cost" id="service_cost" step="0.01" class="form-control">
  </div>

  <div align="center">
    <button type="submit" class="btn btn-primary">Add Service</button>
  </div>
</form>

<!-- Service Record Display Button and Table -->
<div align="center" style="margin-top: 30px;">
  <button id="serviceRecordBtn" class="btn btn-secondary">Show Records</button>
</div>

<table id="serviceRecordTable" class="table table-striped" style="display: none;">
<thead>
  <tr>
    <th>Service ID</th>
    <th>Customer ID</th>
    <th>Service Cost</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
</thead>
<tbody>
  {% for records in records %}
  <tr>
    <td>{{ records[0] }}</td>
    <td>{{ records[1] }}</td>
    <td>{{ records[2] }}</td>
    <td>{{ records[3] }}</td>
    <td>{{ records[4] }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>

<script>
document.getElementById("serviceRecordBtn").addEventListener("click", function() {
  document.getElementById("serviceRecordTable").style.display = "table";
});
</script>


{% endblock %}
